Package: frc2027-openjdk-21-jre
Version: 21.0.9u10-1
Description: FRC OpenJDK Java Runtime Environment
Section: devel
Priority: optional
Maintainer: WPILib Developers <wpilib@wpi.edu>
License: GPL
Architecture: aarch64
OE: frc2027-openjdk-21-jre
Homepage: https://openjdk.java.net/
